//Arial, Helvetica, sans-serif
$fontFamily: 'Arial';
$fontSize: 14px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
$bodyColor: #F5F5F5;
$greyColor: #9c9c9c;
$borderColor: #EDEDED;
$darkBlueColor: #3C4252;
$yellowColor: rgb(250, 221, 105);
$ownMessageBgColor: #DFDFDF;
$redColor: #F2323F;
$blueColor: #374FC7;
$greenColor: #23BA99;
$formBgColor: #E8EAED;
// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 0;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;

// Брейк-поинты
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S